In [ ]:
#attempting to run a multilinear model

In [3]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns

In [31]:
X_train = pd.read_csv("../Caroline/X_train42.csv")
y_train = pd.read_csv("../Caroline/y_train42.csv")
X_test = pd.read_csv("../Caroline/X_test42.csv")
y_test = pd.read_csv("../Caroline/y_test42.csv")

In [32]:
from sklearn import linear_model
ols = linear_model.LinearRegression()

In [33]:
ols.fit(X_train, y_train)

LinearRegression()

In [34]:
ols.score(X_train, y_train)

0.9371207742775771

In [14]:
ols.score(X_test, y_test)

0.9591615243003059

In [35]:
y_train

      SalePrice
0        118500
1        157000
2        254900
3         84500
4        174500
...         ...
2041     165000
2042      76000
2043     114500
2044     163000
2045     123000

[2046 rows x 1 columns]

In [43]:
print(len(pd.DataFrame(ols.coef_).transpose()))
len(X_train.columns.tolist())

230

230

In [54]:
colnames = X_train.columns
result = pd.DataFrame(ols.coef_)
result.columns = colnames.tolist()
#result['intercept'] = ols.intercept_ 
result = result.transpose()
result.columns = ['coefficient']
result

                         coefficient
GrLivArea                  36.246478
LotFrontage                 5.954778
LotArea                     0.655625
OverallQual              7130.373381
OverallCond              6141.413684
...                              ...
SaleCondition__Abnorml  -2812.608045
SaleCondition__AdjLand  -2692.953293
SaleCondition__Alloca    9878.390215
SaleCondition__Family   -6906.870939
SaleCondition__Partial  16329.127923

[230 rows x 1 columns]